<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:node="remove" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="org.privacymatters.safespace.main.AppNotification"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeSpace"
        tools:replace="android:allowBackup"
        tools:targetApi="31">
        <activity
            android:name=".LogActivity"
            android:exported="false"
            android:theme="@style/Theme.SafeSpace" />
        <activity
            android:name="org.privacymatters.safespace.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.SafeSpace" />
        <activity
            android:name="org.privacymatters.safespace.main.MainnActivity"
            android:exported="false"
            android:theme="@style/Theme.SafeSpace" />
        <activity
            android:name=".media.MediaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".camera.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="true"
            android:theme="@style/Theme.SafeSpace">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".document.TextDocumentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".document.PDFActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>